.detail-content {
  background: #2a75bb;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.detail-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.types {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.detail-card {
  display: flex;
  align-self: center;
  flex-direction: column;
  padding: 10px;
  color: #fff;
  border-radius: 15px;
  width: 75%;
  height: 60%;
  background-color: #ef5350;
}

.detail-card .detail-images {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.detail-card .detail-pokemon-img {
  background-color: rgb(72, 148, 47);
  border: 3px solid black;
  border-radius: 10px;
}

.detail-card .detail-pokemon-img img {
  width: 100%;
  height: 100%;
}

.detail-body {
  display: flex;
  flex-direction: row;
}

.evolution-chain {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
  margin-left: 15px;
  flex-wrap: wrap;
}

.evolution-step {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px;
}

.evolution-card {
  border: 3px solid black;
  border-radius: 10px;
  width: 106px;
  height: 106px;
  margin-right: 5px;
}

.type {
  margin-left: 5px;
  align-self: center;
  border: 1px solid black;
  color: black;
  font-weight: bold;
  width: 70px;
  text-align: center;
  padding: 3px 0;
  text-transform: capitalize;
  border-radius: 3px;
}

.normal-type {
  background: #a8a878;
  border: 1px solid #6d6d4e;
}

.fire-type {
  background: #f08030;
  border: 1px solid #9c531f;
}

.figthing-type {
  background: #c03028;
  border: 1px solid #7d1f1a;
}

.water-type {
  background: #6890f0;
  border: 1px solid #445e9c;
}

.flying-type {
  background: #a890f0;
  border: 1px solid #6d5e9c;
}

.grass-type {
  background: #78c850;
  border: 1px solid #4e8234;
}

.poison-type {
  background: #a040a0;
  border: 1px solid #682a68;
}

.electric-type {
  background: #f8d030;
  border: 1px solid #a1871f;
}

.ground-type {
  background: #e0c068;
  border: 1px solid #927d44;
}

.psychic-type {
  background: #f85888;
  border: 1px solid #a13959;
}

.rock-type {
  background: #b8a038;
  border: 1px solid #786824;
}

.ice-type {
  background: #98d8d8;
  border: 1px solid #638d8d;
}

.bug-type {
  background: #a8b820;
  border: 1px solid #6d7815;
}

.dragon-type {
  background: #7038f8;
  border: 1px solid #4924a1;
}

.ghost-type {
  background: #705898;
  border: 1px solid #493963;
}

.dark-type {
  background: #705848;
  border: 1px solid #49392f;
}

.steel-type {
  background: #b8b8d0;
  border: 1px solid #787887;
}

.fairy-type {
  background: #ee99ac;
  border: 1px solid #9b6470;
}
