.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.content > * {
  border: 1px solid black;
}

.main {
  height: 90vh;
}
.footer {
  bottom: 0;
}
